/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";

.trayInfoWrapper {
    width: 100%;
    .slider-width {
        width: 60%;
        margin-left: 40%;
    }
    .content-section {
        width: 30%;
        margin-left: 64px;
        margin-top: 76px;
        position: absolute;
    }
    h1 {
        font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) 32px /
            var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
        letter-spacing: var(--tentkotta-character-spacing-0);
        color: var(--tentkotta-color-ffffff);
    }
    p {
        font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) var(--tentkotta-font-size-15) /
            var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
        letter-spacing: var(--tentkotta-character-spacing-0);
        color: var(--tentkotta-color-949cb0);
    }
}
.popular-movies-mob {
    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) 25px /
        var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
    letter-spacing: var(--tentkotta-character-spacing-0);
    color: var(--tentkotta-color-ffffff);
    display: none;
}
@media screen and (max-width: $small-below) {
    .popular-movies-mob {
        padding-left: 28px;
        display: block;
    }
    .trayInfoWrapper {
        .slider-width {
            margin: 0;
            width: 100%;
        }
    }
    .content-section {
        display: none;
    }
}
