/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../../common-styles/variables";

// @import "~bootstrap/scss/bootstrap";

.item {
  flex: inherit;
  transition: transform 300ms ease 100ms;
  margin: 0 12px;
  position: relative;

  img {
    top: 1086px;
    width: 165px;
    height: 205px;
    vertical-align: top;
    max-width: initial;
  }
}
.title {
  text-align: center;
  font: normal normal normal $font-size-h4 GothamLight;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.slider-cover {
  margin: 0 0 0 80px;
}

.info {
  opacity: 0;
}

.info:hover {
  opacity: 1;
}

@media screen and (max-width: $small-below) {
  .slider-cover {
    margin: 0 0 0 45px;
  }
  .carosal-title {
    padding: 0 72px 0 75px;
  }
}
