/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";
@import "../../common-styles/theme-selectors/tentkotta-webapp.scss";

.trending-now {
    // width: 100%;
    height: 40vh;
    margin: -1% 4% 10% 4%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 4px;
}

.slick-slider-mobile {
    display: none;
}

.number {
    padding: 0 4% 0 4%;
    margin-top: 10px;
    opacity: 1;
    width: 100%;
    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-600) var(--tentkotta-font-size-20) /
        var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter) !important;
    letter-spacing: var(--tentkotta-character-spacing-0);
    color: var(--tentkotta-color-ffffff);
}
.number-right {
    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-600) var(--tentkotta-font-size-20) /
        var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
    letter-spacing: var(--tentkotta-character-spacing-0);
    color: var(--tentkotta-color-ffffff);
    position: relative;
    bottom: -28vh;
    padding-left: 2%;
}

.trending-now {
    display: flex;
    .filter {
        width: 100%;
        display: flex;
        hr {
            height: 0;
            margin-top: 36px;
        }
    }
}
.number-one {
    font-size: 64px;
    color: white;
    color: white;
    color: transparent;
    text-shadow: 6px 16px 1px darkgrey;
}
.left-section {
    box-shadow: inset 86px 10px 166px #000000;
    background-position: 50% 50%;
    width: 50%;
    min-height: 55vh;
    // margin: 0 4px;
    padding: 8px;
}
.right-section {
    background-position: 50% 50%;
    counter-reset: section;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    width: 57%;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    .sub-section {
        -moz-box-shadow: inset 86px 10px 166px #000000;
        -webkit-box-shadow: inset 86px 10px 166px #000000;
        box-shadow: inset 86px 10px 166px #000000;
        margin: 0 4% 4% 4%;
        flex: 1 1 30%;
    }
}

.sub-section {
    counter-increment: indexs;
    list-style-type: none;
    background-position: 50% 50%;
}
.sub-section:after {
    // content: "";
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: 5%;
    // height: 100%;
    // background: linear-gradient(90deg, transparent, #141414);
}
.sub-section:before {
    content: counter(indexs);
    width: 102px;
    height: 140px;
    line-height: 147px;
    color: transparent;
    font-size: 160px;
    font-weight: 900;
    -webkit-text-stroke: 2px #ffffff;
}

ol:nth-child(n + 2) .sub-section::before {
    font-size: 80px;
    position: relative;
    bottom: -99px;
    left: 80%;
}
ol:nth-child(1) .sub-section::before {
    position: relative;
    top: 264px;
    left: 80%;
}

ol {
    list-style: none;
    counter-reset: indexs;
}

.trendingnow-wrapper {
    padding: 1% 2%;
    margin-bottom: 12%;
    .filter {
        display: flex;
        ul {
            display: flex;
            li {
                list-style: none;
                // padding: 0 4%;
                position: relative;
                right: 0;
                a:hover {
                    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal)
                        var(--tentkotta-font-size-14) / var(--tentkotta-line-spacing-38)
                        var(--tentkotta-font-family-inter);
                    color: var(--tentkotta-color-ff8b53);
                }
                a {
                    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal)
                        var(--tentkotta-font-size-14) / var(--tentkotta-line-spacing-38)
                        var(--tentkotta-font-family-inter);
                    color: var(--tentkotta-color-949cb0);
                }
            }
        }
        h1 {
            font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) 25px /
                var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
            letter-spacing: var(--tentkotta-character-spacing-0);
            color: var(--tentkotta-color-ffffff);
            text-align: left;
            padding-left: 1%;
            width: 20%;
        }
        hr {
            height: 0;
            width: 29%;
            margin-top: 2.5%;
        }
    }
}
.active {
    background: none;
    a {
        color: var(--tentkotta-color-ff8b53) !important;
    }
}

.trending-listitem {
    margin-right: 8%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .right-section .sub-section {
        flex: 1 1 189px;
    }
    .trendingnow-wrapper {
        .filter {
            hr {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $small-below) {
    .trending-listitem {
        display: none;
    }
    .slick-slider-mobile {
        display: block;
    }

    .sub-section:before {
        font-size: 80px;
    }
    .trendingnow-wrapper {
        padding: 0;
    }
    .trending-now {
        flex-direction: column;
    }
    .left-section,
    .right-section {
        width: 92%;
        .sub-section {
            margin: 0 8px 6px 0;
            flex: 1 1 120px;
        }
    }
    .right-section {
        .sub-section {
            box-shadow: inset 33px 10px 75px #000000;
        }
    }
    .trendingnow-wrapper {
        .filter {
            display: block;
            h1 {
                width: 58%;
            }
            hr {
                display: none;
                width: 83%;
            }
            ul {
                margin-left: -34px;
                li {
                    list-style: none;
                    padding: 0 15px;
                }
            }
        }
    }
    .number-right {
        position: relative;
        bottom: -24%;
    }
    ol:nth-child(1) .sub-section::before {
        font-size: 690%;
        top: 84px;
    }
    ol:nth-child(n + 2) .sub-section::before {
        left: 72%;
        bottom: -27%;
    }
    .number {
        width: 62%;
        margin-top: -32% !important;
    }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .left-section {
        min-height: 37vh;
    }
    .number-right {
        bottom: -18vh;
    }
}

@media only screen and (device-width: 768px) {
    .number {
        margin-top: 4% !important;
    }
}
