/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";

.trending-now {
    // width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 4px;
}

.number {
    width: 32px;
    height: 48px;
    opacity: 1;
}

.trending-now {
    display: flex;
    .filter {
        width: 100%;
    }
}

.left-section {
    width: 50%;
    min-height: 40vh;
    margin: 4px;
    padding: 8px;
}
.right-section {
    padding: 8px;
    width: 57%;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    .sub-section {
        margin: 0 8px 6px 0;
        flex: 1 1 280px;
    }
}

.trendingnow-wrapper {
    .filter {
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 0 8px;
                position: relative;
                right: 0;
                a:hover {
                    color: white;
                }
                a {
                    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal)
                        var(--tentkotta-font-size-14) / var(--tentkotta-line-spacing-38)
                        var(--tentkotta-font-family-inter);
                    color: coral;
                }
            }
        }
        h1 {
            font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) 25px /
                var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
            letter-spacing: var(--tentkotta-character-spacing-0);
            color: var(--tentkotta-color-ffffff);
            text-align: left;
            padding-left: 28px;
            width: 20%;
        }
        hr {
            width: 96%;
        }
    }
}
@media screen and (max-width: $small-below) {
    .trending-now {
        flex-direction: column;
    }
    .left-section,
    .right-section {
        width: 92%;
        .sub-section {
            margin: 0 8px 6px 0;
            flex: 1 1 120px;
        }
    }
    .trendingnow-wrapper {
        .filter {
            h1 {
                width: 58%;
            }
        }
    }
}
