/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";

.carousalWrapper {
    width: 100%;
    .filter {
        position: absolute;
        margin-right: 18px;
        // width: 47%;
        right: 0;
        ul {
            display: flex;
            li {
                list-style-type: none;
                text-emphasis: none;
                margin: 10px 26px;
                a:hover {
                    color: white;
                }
                a {
                    font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal)
                        var(--tentkotta-font-size-14) / var(--tentkotta-line-spacing-38)
                        var(--tentkotta-font-family-inter);
                    color: #ff8b53;
                }
            }
        }
    }

    .carousel-title {
        font: var(--tentkotta-font-style-normal) normal var(--tentkotta-font-weight-normal) 25px /
            var(--tentkotta-line-spacing-38) var(--tentkotta-font-family-inter);
        letter-spacing: var(--tentkotta-character-spacing-0);
        color: var(--tentkotta-color-ffffff);
        width: 50%;
    }
}

@media screen and (max-width: $small-below) {
    .carousalWrapper {
        .filter {
            position: relative;
            width: 100%;
            right: 0;
            ul {
                li {
                    margin: 4px 14px;
                }
            }
        }
    }
}
