/* App.scss * /

/* Normalize */
@import "~normalize-scss/sass/normalize";

@import "../../common-styles/variables";

.appClass {
  background-color: $black;
  width: 100% !important;
  height: 100% !important;
}
body {
  cursor: pointer;
  height: 100%;
  min-height: 100%;
  font-family: poppins-regular;
  margin: 0;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
