.contentpage-background {
    background-color: #131722;
    height: 164vh !important;
    .headerShadow {
        background: transparent linear-gradient(180deg, #00000096 0%, #0000001a 100%) 0% 0% no-repeat padding-box;
        position: relative;
    }
    .upgrade {
        background: #e1540f !important;
    }
}
body {
    background: #131722 !important;
}
