.search-background {
    // background: url("./../../assets/graphics/background-layout.png") no-repeat center center/cover;
    background-color: black;
    width: 100% !important;
    min-height: 100vh !important;
}
