.errorDiv {
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
.errorDiv h2 {
  border: none;
  line-height: 1rem;
  display: center;
}

.errorDiv p {
  display: center;
  opacity: 1;
  color: blue;
  text-decoration: underline;
}
